.logo {
	max-width: 100px;
}

.title-big {
	font-size: 1.5rem;
	padding: 1rem 0;
	color: #555;
}

.title {
	font-size: 1.2rem;
	margin-bottom: 15px;
}

.short-text {
	font-size: 13px;
	color: #939393;
}
