.json-view-wrapper {
	max-width: 920px;
	margin: 0 auto;
	margin: 1rem;
}

.json-view-wrapper .title {
}

.json-view {
	background-color: #f6fafd;
	border: 1px solid #e2e2e2;
	border-radius: 0;
	position: relative;
	box-shadow: -1px 2px 8px -2px #ccc;
}

.json-view .hljs.json {
	border-radius: 5px;
}

.json-view pre {
	overflow-x: auto;
	font-size: 12px;
}

.json-view__header {
	position: absolute;
	right: 10px;
	top: 10px;
}

.json-view__header button {
	padding: 2px 4px;
}
