

.json-view-wrapper {
    max-width: 920px;
    margin: 0 auto;
    margin: 1rem;
}

.json-view-wrapper .title{
    
}

.json-view {
    padding: 1rem;
    background-color: beige;
    
}

.json-view pre {
    font-family: 'Source Code Pro', monospace;
}

/* pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; } */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }