@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap");

/* font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;*/

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #875d5d;
  text-decoration: inherit;
}
a:hover {
  color: #875d5d;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #875d5d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
